/* Making full length screens */
html,
body {
  height: 100%;
  width: 100%;
  align-content: space-around;
  background-color: #38b5ff;
  background: url("./img/background.png") center no-repeat;
  background-size: cover;
  color: #ffd358;
  display: grid;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  /* font-weight: bolder; */
  word-wrap: break-word;
}

#user-input {
  width: 90%;
}

@media (max-width: 767px) {
  body {
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 100vw;
  }
}
@media (min-width: 1025px) {
  body {
    width: 100vw;
  }
}
